{% extends "base.html" %}

{% block title %}Player Profile{% endblock %}

{% block content %}
    {% if player %}
        <style>
            body {
                background-image: url("{{ legend_image }}");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                color: white;
            }
        </style>
        <div class="profile-container">
            <div class="profile-header">
                <h2>{{ player.global.name }}</h2>
                <span class>Platform: {{ player.global.platform }}</span>
            </div>
            <div class="profile-stats">
                <div class="stats-card">
                    <h3>Level</h3>
                    <p>{{ player.global.level }}</p>
                </div>
                <div class="stats-card">
                    <h3>Rank</h3>
                    {% if player.global.rank %}
                        <p>{{ player.global.rank.rankName }} 
                        <img src="{{ player.global.rank.rankImg }}" alt="Rank Icon" class="rank-icon">
                    {% else %}
                        <p>Unranked</p>
                    {% endif %}
                </div>
                <div class="stats-card">
                    <h3>Most Played Legend</h3>
                    {% if player.legends.selected %}
                        <p>{{ player.legends.selected.legend_name }}</p>
                    {% else %}
                        <p>No legend data available</p>
                    {% endif %}
                </div>

                <div class="stats-card">
                    <h3>Total Games Played</h3>
                    <p>{{ player.total.games_played }}</p>
                </div>
                <div class="stats-card">
                    <h3>Total Wins</h3>
                    <p>{{ player.total.wins }}</p>
                </div>
                <div class="stats-card">
                    <h3>Total Kills</h3>
                    <p>{{ player.total.kills }}</p>
                </div>
                <div class="stats-card">
                    <h3>Total Damage</h3>
                    <p>{{ player.total.damage }}</p>
                </div>
                <div class="stats-card">
                    <h3>Average Damage</h3>
                    <p>{{ player.total.damage_per_match }}</p>
                </div>
                <div class="stats-card">
                    <h3>Highest Damage in a Single Match</h3>
                    <p>{{ player.total.highest_damage }}</p>
                </div>
                <div class="stats-card">
                    <h3>Highest Kills in a Single Match</h3>
                    <p>{{ player.total.highest_kills }}</p>
                </div>
                <div class="stats-card">
                    <h3>Total knockdowns</h3>
                    <p>{{ player.total.knockdowns }}</p>
                </div>
                <div class="stats-card">
                    <h3>Total assists</h3>
                    <p>{{ player.total.assists }}</p>
                </div>
                <div class="stats-card">
                    <h3>Teammates revived</h3>
                    <p>{{ player.total.teammates_revives }}</p>
                </div>
                <div class="stat-card">
                    <h3>Teammates Respawns</h3>
                    <p>{{ player.total.teammates_respawned }}</p>
                </div>
            </div>
            
            <div class="legend-stats-section">
                <h2>Legend Statistics</h2>
                <div class="legend-cards">
                    {% for legend in player.legends.all %}
                        <div class="legend-card">
                            <h3>{{ legend.legend_name }}</h3>
                            {% if legend.data %}
                                {% for stat in legend.data %}
                                    <p><strong>{{ stat.name }}:</strong> {{ stat.value }}</p>
                                {% endfor %}
                            {% else %}
                                <p>No specific statistics found for this legend.</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
    {% else %}
        <div class="error-container">
            <h2>Player not found or an error occurred.</h2>
            <p>Please check the player name and platform and try again.</p>
        </div>
    {% endif %}
{% endblock %}