{% extends "base.html" %}

{% block title %}Player Profile{% endblock %}

{% block content %}
    {% if player %}
        <style>
            body {
                background-image: url("{{ legend_image }}");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                color: white;
            }
        </style>
        <div class="profile-container">
            <div class="profile-header">
                <h2>{{ player.global.name }}</h2>
                <span class>Platform: {{ player.global.platform }}</span>